/* Universal styling */
* {
  padding: 0;
  margin: 0;
}
.pages {
  padding: 78px 0 0;
  overflow: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #B8D1C2; */
}
ul {
  list-style: none;
}
span {
  color: #ff2a2a;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.line {
  background-color: #ff2a2a;
  width: 80px;
  height: 4px;
  margin: 20px 0;
}
.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  background-color: #0b6b39;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  margin-bottom: 30px;
}
.btn:hover {
  background-color: white;
  color: #0b6b39;
  border: 2px solid #0b6b39;
}
.btn-2 {
  background-color: white;
  color: #0b6b39;
  border: 2px solid #0b6b39;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  transition: 0.3s ease;
  outline: none;
}
.btn-2:hover {
  background-color: #0b6b39;
  border: none;
  color: white;
}
.img {
  width: 100%;
}
input {
  caret-color: #ff2a2a;
}
textarea {
  caret-color: #ff2a2a;
}
.scroll--up{
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 88;
}
.scroll--up button{
  color: white;
  background-color: #ff2a2a;
  padding: 15px;
  border-radius: 50px;
  font-weight: bold;
  animation: bounce linear 2s infinite;
}
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}

/* Header styling */
.header--wrapper {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 9;
}
.header {
  background-color: white;
  margin-top: -10px;
  border-bottom: 2px solid #ff2a2a;
}
.header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  width: 90%;
  margin: 10px auto;
}
.logo--menu {
  display: flex;
  align-items: center;
}
.Jsch--logo {
  width: 50px;
  margin-left: 30px;
}
.menu {
  font-size: 22px;
  font-weight: bold;
  color: #ff2a2a;
  border: 1px solid #ff2a2a;
  padding: 8px;
  border-radius: 5px;
}
.login h4 {
  color: #ff2a2a;
  cursor: pointer;
  font-size: 21px;
}

/* Login Links styling */
.login {
  display: flex;
  gap: 30px;
  align-items: center;
}
.login--links {
  position: absolute;
  right: 0;
  top: 78px;
  background-color: #ff2a2a;
  padding: 15px;
  width: 30%;
  height: 30vh;
  z-index: 88;
}
.login--links li {
  line-height: 33px;
  transition: 0.3s ease;
}
.login--links .link {
  color: white;
  transition: 0.3s ease;
}
.login--links .link:hover {
  color: #0b6b39;
}
.enroll--btn button {
  background-color: #0b6b39;
  padding: 8px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}
.enroll--btn .link {
  color: white;
}
/* NavBar Links styling */
.desktop {
  display: none;
}
.nav--links {
  position: fixed;
  top: 78px;
  padding: 20px;
  background-color: white;
  width: 50%;
  height: 100vh;
  z-index: 99;
}
.nav--links li {
  line-height: 35px;
  transition: 0.3s ease;
}
.mobile .link, li {
  color: #ff2a2a;
}
.mobile .link:hover {
  color: #0b6b39;
}
.desktop, .mobile li {
  transition: 0.3s ease;
}
.desktop, .mobile li:hover {
  color: #0b6b39;
}
/* More Button */
.more--btn{
  cursor: pointer;
}
/* Login page styling (Universal)*/
.login--page {
  width: 90%;
  margin: 120px auto;
}
.login--page form input {
  width: 98%;
  padding: 10px 0 10px 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ff2a2a;
}
.recover--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recover--container label {
  margin-left: 3px;
}
.login--btn {
  padding: 10px;
  background-color: #ff2a2a;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
}
.sign--up {
  text-align: center;
}


/* HomePage */

/* Hero Section */
.slider {
  height: 80vh;
}
.carousel-indicators .active {
  background-color: #ff2a2a;
}
.slider img {
  width: 100%;
  height: 80vh;
}
.slider .caption {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel1 {
  text-align: left;
}
.carousel1 button{
  width: 20% !important;
}
.carousel2 {
  text-align: left;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.carousel2 .play {
  background-color: #ff2a2a;
  color: white;
  padding: 5px;
  border-radius: 100%;
  width: 40px;
  text-align: center;
  height: 40px;
  animation: pulse 0.5s linear 2s infinite;
  z-index: 2;
}
@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.carousel--content {
  width: 90%;
  margin: 20px auto;
  z-index: 9;
}
.carousel--content h4 {
  font-size: 45px;
}
.carousel--content button {
  outline: none;
  background-color: #ff2a2a;
  color: white;
  border: none;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  transition: 0.3s ease;
}
.carousel--content button:hover {
  background-color: white;
  color: #ff2a2a;
}
.play--video {
  text-decoration: none;
  color: white;
}
.hero--btn .link {
  margin-right: 10px;
}
.hero--btn .button-1 {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #0b6b39;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  margin-bottom: 30px;
}
.hero--btn .button-1:hover {
  background-color: white;
  color: #0b6b39;
}
.hero--btn{
  display: flex;
}
.hero--btn button{
  width: 100% !important;
}

/* Introduction Section */
.intro--header {
  text-align: center;
  margin: 30px 0;
}
.edu--info2,
.edu--info4 {
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px 30px;
  height: fit-content;
  border: 2px solid #dbd9d9;
}
.edu--info1,
.edu--info3 {
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px 30px;
  height: fit-content;
  border: 2px solid #dbd9d9;
}
.grad--icon {
  font-size: 40px;
  margin-bottom: 20px;
}
.intro--icon {
  color: #ff2a2a;
}

/* Intro Image Section */
.js--img img {
  width: 100%;
  margin-top: 30px;
  height: 500px;
}
/* About Section */
.about--section {
  margin-top: 30px;
}
.about--content {
  width: 90%;
  margin: auto;
}
.school--rating {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}
.rating .grad--icon {
  color: #ff2a2a;
}
.about--image{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}
.about--image .img-1{
  grid-row: 1 /span 2;
  grid-column: 1 /span 2;
  width: 50%;
  margin: auto;
}
.about--text button{
  width: 30%;
}
/* .about--icon {
  background-color: #b8d1c2;
  border-radius: 100%;
  width: 50px;
  padding: 5px;
  height: 50px;
} */
/* Apply Section */
/* .apply--section {
  margin-top: 30px;
}
.apply--content {
  width: 90%;
  margin: auto;
  padding: 30px 30px;
  background-color: #0b6b39;
  color: white;
  border-radius: 5px;
} */

/* Principal Section */
.principle--section {
  width: 90%;
  margin: 50px auto;
}
.dash {
  width: 90px;
  height: 10px;
  color: #ff2a2a;
}
.school {
  color: #ff2a2a;
}

/* Parent Corner Section */
.parents--corner{
  background-color: #e8edea;
  padding: 50px 0;
}
.parents--container {
  width: 90%;
  margin: auto;
}
.parent--header{
  margin-bottom: 20px;
}
.parent--content {
  background-color: white;
  padding: 20px;
  width: 80%;
  margin: -10px auto 20px;
}
.parents--container img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: auto;
  display: block;
}
/* Teachers Section */
.teachers--content {
  width: 90%;
  margin: auto;
}
.splide--text {
  margin-top: 20px;
}
.teacher img {
  position: relative;
}
.teacher--socials {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  padding: 20px;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
  background: linear-gradient(#8e4926, rgba(255, 42, 42, 0.6));
}
.teacher:hover .teacher--socials {
  transform: scaleX(1);
}
.socials {
  font-size: 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  margin-right: 5px;
}
.socials:hover {
  transform: translateY(-5px);
}
.teachers--btn {
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #0b6b39;
  color: white;
  padding: 10px;
  margin: 20px auto;
  width:60% ;
  display: block;
  transition: 0.3s ease;
}
.teachers--btn:hover {
  background-color: white;
  border: 2px solid #0b6b39;
  color: #0b6b39;
}
/* Community Section */
.line-2 {
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 20px auto;
}
.community--background {
  text-align: center;
  margin-bottom: 30px;
  padding: 80px 0 30px;
  height: auto;
  color: white;
  background: linear-gradient(#26a9e6, #46ba7e);
}
.community--background p {
  font-size: 20px;
}
.community--background h2 {
  font-size: 33px;
}
.community--content {
  background: url("../assets/images/34.jpg");
  background-size: cover;
}
.community--socials {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.community--icon {
  transition: 0.3s ease;
}
.community--icon:hover {
  transform: translateY(-10px);
}
.community--news-letter{
  border: 5px solid #8e4926;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
}
.community--news-letter button{
  background-color: #0b6b39;
  color: white;
  border-radius: 5px;
  transition: .3s ease;
}
.community--news-letter button:hover{
 border: 2px solid #0b6b39;
 background-color: white;
 color: #0b6b39;
}
/* Gallery Section */
.gallery--container {
  width: 90%;
  margin: 40px auto;
}
.gallery--header p {
  color: #ff2a2a;
  font-size: 18px;
}
.gallery--img{
  margin-top: 20px;
}
.gallery--img img{
  margin-bottom: 20px;
}
/* Footer Section */
.footer {
  background-color: #b8d1c2;
  color: black;
}
.footer--container {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.footer--logo {
  width: 50px;
}
.footer--links {
  display: grid;
  font-size: 19px;
  line-height: 40px;
}
.footer--links .links {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}
.footer--links .links:hover {
  color: #ff2a2a;
}
.footer--icons {
  display: flex;
  gap: 20px;
  font-size: 23px;
}
.footer--socials h2,
.footer--icons {
  margin-bottom: 25px;
}
.footer--icons .school--socials {
  transition: 0.3s ease;
}
.footer--icons .school--socials:hover {
  transform: translateY(-7px);
}
.news-letter {
  margin-bottom: 20px;
  border: 2px solid #0b6b39;
  border-radius: 8px;
  padding: 40px 10px;
  text-align: center;
}
.news--letter--input {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #ff2a2a;
  gap: 10px;
  width: 80%;
  margin: auto;
  display: flex;
}
.news--letter--input input,
button {
  outline: none;
  border: none;
  padding: 5px;
}
.news--letter--input input{
  width: 80%;
}
.news-letter button {
  background-color: #ff2a2a;
  color: white;
  border-radius: 5px;
}
/* Desktop View */
@media screen and (min-width: 1120px) {
  .menu {
    display: none !important;
  }
  .btn {
    width: 20%;
  }
  .btn-2 {
    width: 20%;
  }
  .img-2 {
    height: 300px;
  }
  /* NavBar Desktop View styling */
  .desktop {
    display: flex;
    gap: 30px;
    position: relative;
  }
  .desktop li {
    color: #ff2a2a;
    font-size: 22px;
    margin-top: 18px;
  }
  .desktop .link {
    color: #ff2a2a;
    transition: 0.3s ease;
  }
  .desktop .link:hover {
    color: #0b6b39;
  }
  /* Show more Btn styling */
.showMore{
  position: absolute;
  background-color: white;
  width: 30%;
  top: 82px;
  right: 0;
  height: 120px;
}
  /* Login page styling (Universal)*/
  .login--page {
    width: 80%;
    margin: 180px auto !important;
  }
  .login--links {
    margin-top: 10px;
  }
  .login--links li {
    font-size: 22px;
    line-height: 50px;
  }
  /* Hero section */
  .slider {
    height: 80vh !important;
  }
  .slider img {
    height: 80vh !important;
  }
  .slider .caption {
    height: 80vh !important;
  }
  .carousel--content {
    display: flex;
    justify-content: space-around;
    margin: 120px auto !important;
  }
  .carousel--content h4 {
    font-size: 60px;
    width: 70%;
  }
  .carousel--content button {
    width: 30%;
  }
  .play-content h2 {
    font-size: 40px;
  }
  /* Introduction Section */
  .intro--section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* About section */
  .about--content {
    display: flex;
    margin-top: 90px;
    align-items: center;
  }
  .school--rating {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .about--text {
    width: 50%;
  }
  .about--text p {
    width: 80%;
  }
  .about--image {
    width: 50%;
  }

  /* Apply Section */
  /* .apply--content p {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .apply--content {
    width: 50%;
  } */
  /* Principal Section */
  .principal--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
  }
  /* Community Section */
  .community--background{
    display: flex;
    padding: 80px;
  }
  .community--news-letter{
    width: 40%;
  }
  .community--info{
    width: 40%;
  }
  /* Parents corner section */
  .parent--card--wrapper {
    display: flex;
    gap: 20px;
  }
  /* Teachers Section */
  .teachers--btn {
    width: 20%;
  }
  .teacher--socials {
    height: 76% !important;
  }
  /* Gallery Section */
  .gallery--img {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .gallery--img img {
    border-radius: 8px;
    margin-bottom: 10px;
  }
  /* Footer Section */
  .footer--container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 50px;
  }
  .footer--content {
    width: 50%;
  }
  .footer--content p {
    font-size: 21px;
  }
  .vital--links{
    display: flex;
    gap: 70px;
  }
}

/* Tablet View */
@media screen and (min-width: 765px) {
  /* Login Section */
  .login--page {
    width: 60%;
    margin: 200px auto;
  }
  /* Introduction Section */
  .intro--section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* Hero section */
  .slider {
    height: 60vh;
  }
  .slider img {
    height: 60vh;
  }
  .slider .caption {
    height: 60vh;
  }
  .carousel1 {
    width: 60%;
  }
  .carousel--content {
    display: flex;
    justify-content: space-around;
    margin-top: 170px;
  }
  .teacher--socials {
    height: 58%;
  }
  /* Gallery Section */
  .gallery--img {
    display: flex;
    gap: 20px;
  }
  /* Footer Section */
  .vital--links{
    display: flex;
    gap: 70px;
  }
}
