/* Universal input styling */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
input {
  caret-color: #ff2a2a;
}
textarea {
  caret-color: #ff2a2a;
}
/* About page section */
.jschool--container {
  margin: 40px 0;
}
.about--jschool h1 {
  margin-bottom: 40px;
}
.about--jschool,
.jschool--history--content,
.jchool--vision {
  margin: 30px auto;
  width: 90%;
}
.jchool--vision {
 background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}
h3,
h1 {
  margin-bottom: 20px;
}
.about--gallery {
  width: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  background-color: #0b6b39;
  padding: 8px;
  text-align: center;
  transition: 0.3s ease;
}
.about--gallery .link {
  color: white;
  transition: 0.3s ease;
}
.about--gallery:hover {
  background: white;
  border: 2px solid #0b6b39;
}
.about--gallery:hover .link {
  color: #0b6b39;
}
.vision--bg {
  background: url(/src/assets/images/43.png);
  background-size: cover;
  background-position: center;
  height: 320px;
}
.vision--overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(11, 107, 57, 0.8));
  height: 320px;
  padding: 20px;
}
/* Teachers Section */
.teachers--page {
  width: 90%;
  margin: 20px auto;
}
.teachers--page img {
  margin-bottom: 20px;
  border-radius: 5px;
}

/* News Page */
.news--container {
  width: 90%;
  margin: 30px auto;
}
.article--img img {
  border-radius: 5px;
}
/* Single News Page */
.singleNews--content {
  width: 90%;
  margin: 30px auto;
}
.singleNews--content h3 {
  margin: 20px 0;
}
.singleNews--content img {
  border-radius: 8px;
}
.news--link {
  color: #ff2a2a;
  text-decoration: none;
  cursor: pointer;
}
/* Gallery Page */
.gallery--page--content {
  width: 90%;
  margin: 30px auto;
}
.gallery--page--content img {
  border-radius: 8px;
  margin-bottom: 10px;
}
.gallery--page--details {
  margin-bottom: 20px;
}
.gallery--img {
  overflow: hidden;
  transition: 0.3s ease;
}
.gallery--img img {
  transition: 0.3s ease;
}
.gallery--img img:hover {
  transform: scale(1.03);
  overflow: hidden;
}
/* Admission Page */
.admission--container{
  width: 90%;
  margin: 30px auto;
}
.error {
  color: #ff2a2a;
}
.admission--content-1 h1 {
  font-weight: bold;
  font-size: 38px;
}
.admission--content-1 span {
  color: #ff2a2a;
}
.admission--content-1 p {
  width: 70%;
}
.admission--intro{
  background-color: #0b6b39;
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-radius: 6px;
}
.admission--content-2 {
  background-color: #f4f4f4;
  margin-top: 30px;
  padding: 10px;
}
.content-2 {
  margin-top: 30px;
}
.input label {
  font-weight: bold;
}
.input input {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.input select {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.admission--container form button {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  background-color: #ff2a2a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.admission--container form button:hover {
  background-color: white;
  color: #ff2a2a;
  border: 2px solid #ff2a2a;
}
.admission--content-3 {
  margin-top: 60px;
  background-color: #f4f4f4;
  padding: 15px;
}
.admission--steps{
  margin: 40px 0;
}
.steps{
  background-color: #0b6b39;
  color: white;
  margin: 20px 0;
  padding: 40px;
  border-radius: 6px;
}
.steps h2{
  text-align: center;
  margin-bottom: 25px;
}

/* Contact Page */
.contact--container {
  width: 80%;
  margin: 30px auto;
}
.contact--header {
  text-align: center;
}
.contact--container input {
  width: 100%;
  border: none;
  background-color: white;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact--container label {
  margin-bottom: 10px;
  font-weight: bold;
}
.contact--container textarea {
  width: 100%;
  height: 300px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact--container button {
  outline: none;
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  color: #0b6b39;
  border: none;
  margin-bottom: 20px;
  transition: 0.3s ease;
  font-weight: bold;
}
/* .contact--container button:hover {
  border: 2px solid #0B6B39;
  background-color: white;
  color: #0B6B39;
} */
.google--map {
  width: 100%;
  height: 300px;
}
.contact--icon {
  color: #0b6b39;
}
.contact--message {
  background-color: #0b6b39;
  padding: 20px;
  margin-top: 30px;
  color: white;
}
.contact--location {
  border: 2px solid #c5c6c8;
  padding: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  /* About page section */
  .jschool--header {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  .jschool--img {
    width: 50%;
  }
  .jschool--body {
    width: 50%;
  }
  .history--body {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  .jchool--vision {
    width: 60%;
  }
  .about--gallery {
    width: 20%;
  }
  /* Teachers Section */
  .teachers--page {
    margin-top: 50px;
  }
  .teachers--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Gallery Page */
  .gallery--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* News Page */
  .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .article--img {
    overflow: hidden;
    transition: 0.3s ease;
  }
  .article--img img {
    transition: 0.3s ease;
  }
  .article--img:hover img {
    transform: scale(1.08);
    overflow: hidden;
  }
  /* Single News Page */
  .singleNews--content {
    width: 70%;
  }
  /* Admission Page */
  .admission--content-1 {
    margin: 70px 0;
  }
  .admission--content-1 p {
    font-size: 25px;
    width: 50%;
  }
  .admission--content-3 .form--inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .admission--container form button {
    width: 20%;
    padding: 5px;
    font-size: 23px;
  }
  .admission--intro p{
    font-size: 25px;
  }
  .content--2--input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }
  .admission--content-3 form button {
    width: 20%;
  }
  .admission--steps{
    position: relative;
    top: 39px;
  }
  .admission--steps img{
    width: 60%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 220px;
  }
  .steps{
    width: 50%;
    position: absolute;
    right: 40px;
    padding: 60px;
    top: 340px;
  }
  /* Contact Section */
  .contact--address {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 90px;
    align-items: center;
  }
  .contact--text {
    width: 50%;
  }
  .contact--text h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .map {
    width: 50%;
  }
  .contact--message {
    margin-top: 40px;
  }
  .contact--container button {
    width: 30%;
  }
  .name--email {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .name--email .input {
    width: 50%;
  }
  .google--map {
    height: 400px;
  }
}
@media screen and (min-width: 760px) {
  /* About page section */
  .jschool--header {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  .jschool--img {
    width: 50%;
  }
  .jschool--body {
    width: 50%;
  }
  /* Teachers Section */
  .teachers--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Gallery Page */
  .gallery--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Contact Section */
  .contact--address {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
    align-items: center;
  }
  .contact--text {
    width: 50%;
  }
  .contact--text h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .map {
    width: 50%;
  }
  .name--email {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .name--email .input {
    width: 50%;
  }
  .google--map {
    height: 350px;
  }
}
