/* Universal input styling */
*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
input {
  caret-color: #ff2a2a;
}
textarea {
  caret-color: #ff2a2a;
}
/* About page section */
.jschool--container {
  margin: 40px 0;
}
.about--jschool h1 {
  margin-bottom: 40px;
}
.about--jschool,
.jschool--history--content,
.jchool--vision {
  margin: 30px auto;
  width: 90%;
}
.jschool--history {
  background: #424549;
  color: white;
  padding: 10px 0;
}
.jchool--vision {
  border: 2px solid rgb(208, 204, 204);
  padding: 20px;
}
h3,
h1 {
  margin-bottom: 20px;
}
/* Teachers Section */
.teachers--page {
  width: 90%;
  margin: 20px auto;
}
.teachers--page img {
  margin-bottom: 20px;
  border-radius: 5px;
}

/* News Page */
.news--container{
width: 90%;
margin: 30px  auto;
}
.article--img img{
  border-radius: 5px;
}
  /* Single News Page */
  .singleNews--content{
    width: 90%;
    margin: 30px auto;
  }
  .singleNews--content h3{
    margin: 20px 0;
  }
  .singleNews--content img{
    border-radius: 8px;
  }
  .news--btn{
    border: none;
    background-color: #ff2a2a;
    padding: 8px;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 20px;
    transition: .3s ease;
  }
  .news--btn:hover{
   box-shadow: inset 2px 2px 2px #0B6B39;
  }
  .news--link{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
/* Gallery Page */
.gallery--page--content {
  width: 90%;
  margin: 30px auto;
}
.gallery--page--content img {
  border-radius: 8px;
  margin-bottom: 10px;
}
.gallery--page--details {
  margin-bottom: 20px;
}
.gallery--img {
  overflow: hidden;
  transition: 0.3s ease;
}
.gallery--img img {
  transition: 0.3s ease;
}
.gallery--img img:hover {
  transform: scale(1.03);
  overflow: hidden;
}
/* Admission Page */
.error {
  color: #ff2a2a;
}
.admission--container {
  width: 90%;
  margin: 30px auto;
}
.admission--content-1 h1 {
  font-weight: bold;
  font-size: 38px;
}
.admission--content-1 span {
  color: #ff2a2a;
}
.admission--content-1 p {
  text-align: end;
}
.admission--content-2 {
  background-color: #f4f4f4;
  margin-top: 30px;
  padding: 10px;
}
.content-2 {
  margin-top: 30px;
}
.input label {
  font-weight: bold;
}
.input input {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.input select {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.admission--container form button {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  background-color: #ff2a2a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  transition: .3s ease;
}
.admission--container form button:hover{
  background-color: white;
  color: #ff2a2a;
  border: 2px solid #ff2a2a;
}
.admission--content-3 {
  margin-top: 60px;
  background-color: #f4f4f4;
  padding: 15px;
}

/* Contact Page */
.contact--container {
  width: 90%;
  margin: 30px auto;
}
.contact--container input {
  width: 100%;
  border: 2px solid #ff2a2a;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact--container label {
  margin-bottom: 10px;
  font-weight: bold;
}
.contact--container textarea {
  width: 100%;
  height: 300px;
  border: 2px solid #ff2a2a;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact--container button {
  outline: none;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff2a2a;
  color: white;
  border: none;
  margin-bottom: 20px;
  transition: 0.3s ease;
  font-weight: bold;
}
.contact--container button:hover {
  border: 2px solid #ff2a2a;
  background-color: white;
  color: #ff2a2a;
}
.google--map {
  width: 100%;
  height: 300px;
}
.contact--icon {
  color: #ff2a2a;
}
.contact--message {
  border: 2px solid #c5c6c8;
  padding: 20px;
  margin-top: 30px;
}
.contact--location {
  border: 2px solid #c5c6c8;
  padding: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  /* About page section */
  .jschool--header {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  .jschool--img {
    width: 50%;
  }
  .jschool--body {
    width: 50%;
  }
  .history--body {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  .jchool--vision {
    width: 60%;
  }
  /* Teachers Section */
  .teachers--page {
    margin-top: 50px;
  }
  .teachers--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Gallery Page */
  .gallery--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* News Page */
  .news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .article--img{
    overflow: hidden;
    transition: .3s ease;
  }
  .article--img img{
    transition: .3s ease;
  }
  .article--img:hover img{
    transform: scale(1.08);
    overflow: hidden;
  }
  /* Single News Page */
  .singleNews--content{
    width: 70%;
  }
  /* Admission Page */
  .admission--content-1{
    margin: 70px 0;
  }
  .admission--content-1 p{
    font-size: 30px;
    width: 80%;
    margin: auto 0 auto auto;
  }
  .admission--content-3 .form--inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .admission--container form button {
    width: 60%;
    padding: 10px;
    font-size: 23px;
  }
  .content--2--input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }
  .admission--content-2 input{
    padding: 20px;
  }
  .admission--content-3 form button{
    width: 30%;
  }
  /* Contact Section */
  .contact--address {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 90px;
    align-items: center;
  }
  .contact--text {
    width: 50%;
  }
  .contact--text h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .map {
    width: 50%;
  }
  .contact--message {
    margin-top: 40px;
  }
  .contact--container input {
    padding: 20px;
  }
  .name--email {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .name--email .input {
    width: 50%;
  }
  .contact--container button {
    width: 30%;
    padding: 21px;
  }
  .google--map {
    height: 400px;
  }
}
@media screen and (min-width: 760px) {
  /* About page section */
  .jschool--header {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  .jschool--img {
    width: 50%;
  }
  .jschool--body {
    width: 50%;
  }
  /* Teachers Section */
  .teachers--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Gallery Page */
  .gallery--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Contact Section */
  .contact--address {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
    align-items: center;
  }
  .contact--text {
    width: 50%;
  }
  .contact--text h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .map {
    width: 50%;
  }
  .name--email {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .name--email .input {
    width: 50%;
  }
  .google--map {
    height: 350px;
  }
  /* Admission Page */
  .admission--content-1 p{
    font-size: 18px;
    width: 50%;
    margin: auto 0 auto auto;
  }
}
