/* Universal input styling */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
input {
  caret-color: #ff2a2a;
  outline: none;
}
textarea {
  caret-color: #ff2a2a;
  outline: none;
}
button{
  border: none;
}
h4,
h2,
h1,
h3 {
  font-size: 24px !important;
}
/* About page section */
.jschool--container {
  margin: 40px 0;
}
.about--jschool h1 {
  margin-bottom: 40px;
}
.about--jschool {
  margin: 30px auto;
  width: 80%;
}
h3,
h1 {
  margin-bottom: 20px;
}
.jschool--body {
  text-align: justify;
  margin-bottom: 20px;
}
.jschool-body-text {
  margin-bottom: 20px;
}
.jschool-body-text h4 {
  font-weight: 400;
  font-size: 20px;
}
.jschool-body-text p {
  font-size: 15px;
}
.principle-text {
  width: 80%;
  margin: auto;
  padding: 50px 20px 20px;
}
.welcome-quote {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
.about-principle-container {
  background-color: #e5e5e5;
  position: relative;
}
.quote-text {
  background-color: white;
  padding: 30px;
}
.quote-text .principle-name {
  text-align: center;
  color: red;
  margin-top: 20px;
}
.quote-icon {
  color: red;
}
.welcome-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
}
.bottom-background {
  width: 100%;
  height: 50px;
  background-color: #0c2f70;
  position: absolute;
  bottom: 2px;
}
.about-state-of-art {
  margin: 40px auto;
  width: 80%;
}
.state-of-art-left img {
  width: 100%;
  object-fit: cover;
}
.state-of-art-left {
  position: relative;
}
.image-left {
  border-radius: 100%;
  height: 300px;
}
.image-right {
  border-radius: 100%;
  width: 180px !important;
  height: 180px;
  border: 12px solid white;
  position: absolute;
  bottom: -40px;
  right: -20px;
}
.state-of-art-right {
  margin-top: 50px;
}
.state-of-art-right h4 {
  font-weight: 500;
  margin-bottom: 20px;
}
.state-of-art-right p {
  font-size: 16px !important;
  margin-bottom: 10px;
  opacity: 0.8;
}
.about-info-section {
  width: 80%;
  margin: 30px auto;
}
.about-info-left h4 {
  margin-bottom: 20px;
  font-weight: 500;
}
.about-info-left p {
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.9;
}
.about-info-right img {
  width: 100%;
  margin-top: 20px;
}
.state-of-art-btn button{
  border: none;
  background-color: #FEB500;
  color: white;
  padding: 12px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
.state-of-art-btn .link{
  color: white;
}

  /* Community Section */
  .about-community{
    margin-bottom: 40px;
  }
  .about-community--content {
    text-align: center;
    margin-bottom: 30px;
    padding: 80px 0 30px;
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
    color: white;
    background: url('../assets/images/support-banner.svg');
  }
  .about-community--background{
    background: linear-gradient(transparent, rgb(0, 128, 0, 0.7) );
    height: 410px;
    width: 100%;
    top: 0;
    position: absolute;
  }
  .about-community--background p {
    font-size: 20px;
  }
  .about-community--background h2 {
    font-size: 33px;
  }
  .about-community--info{
  padding-top: 130px;
  }
  .about-community--socials {
    font-size: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  .community--icon {
    transition: 0.3s ease;
  }
  .community--icon:hover {
    transform: translateY(-10px);
  }
  
/* Teachers Section */
/* .teachers--page {
  width: 90%;
  margin: 20px auto;
}
.teachers--page img {
  margin-bottom: 20px;
  border-radius: 5px;
} */

/* News Page */
.news--container {
  width: 90%;
  margin: 30px auto;
}
.article--img img {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.news--container h2 {
  color: black;
}
.body {
  color: black;
}
/* Single News Page */
.singleNews--content {
  width: 100%;
 
}
.single-news-text{
  width: 80%;
  margin: 50px auto;
}
.singleNews--content h3 {
  margin: 10px 0;
}
.single-news-image img {
  margin-top: -105px;
  height: 90vh;
  object-fit: cover;
}
.news--link {
  color: #ff2a2a;
  text-decoration: none;
  cursor: pointer;
  z-index: 4;
}
.single-news-btn{
  display: flex;
  justify-content: center;
}
.single-news-btn button{
  border: none;
  background-color: #FEB500;
  color: white;
  padding: 12px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
/* Gallery Page */
.gallery--page--content {
  width: 90%;
  margin: 30px auto;
}
.gallery--page--content img {
  border-radius: 8px;
  margin-bottom: 10px;
}
.gallery--page--details {
  margin-bottom: 20px;
}
.gallery--img {
  overflow: hidden;
  transition: 0.3s ease;
}
.gallery--img img {
  transition: 0.3s ease;
}
.gallery--img img:hover {
  transform: scale(1.03);
  overflow: hidden;
}
/* Admission Page */
.admission--container {
  width: 90%;
  margin: 30px auto;
}
.error {
  color: #ff2a2a;
}
/* .admission--content-1 h1 {
  font-weight: bold;
  font-size: 38px;
}
.admission--content-1 span {
  color: #ff2a2a;
}
.admission--content-1 p {
  width: 70%;
  margin-bottom: 20px;
}
.admission--intro {
  background-color: #208849;
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-radius: 6px;
}
.admission--intro--text h2 {
  color: #ff2a2a;
} */
.admission--content-2 {
  background-color: #f4f4f4;
  margin-top: 30px;
  padding: 10px;
}
.content-2 {
  margin-top: 30px;
}
.input label {
  font-weight: bold;
}
.input input {
  width: 92%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.input select {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.admission--container form button {
  width: 140px !important;
  display: block;
  outline: none;
  border: none;
  background-color: #FEB500;
  color: white;
  padding: 8px;
  border-radius: 5px;
  transition: 0.3s ease;
  font-size: 18px !important;
}
.admission--container form button:active {
  background-color: yellow;
}
.admission--content-3 {
  margin-top: 60px;
  background-color: #f4f4f4;
  padding: 15px;
}
.admission--content-3 .banner-text{
  text-align: center;
}
.admission--steps {
  margin: 40px 0;
}
.steps {
  background-color: #208849;
  color: white;
  margin: 20px 0;
  padding: 40px 10px;
  border-radius: 6px;
}
.steps h2 {
  text-align: center;
  margin-bottom: 25px;
}
.admission--icon {
  font-size: 28px;
  margin-right: 5px;
}

/* Contact Page */
.contact--page h4{
  color: #0C2F70;
  font-weight: 500;
}
.contact--container {
  width: 90%;
  margin: 30px auto;
}
.contact--header {
  text-align: center;
}
.contact--container input {
  width: 95%;
  border: 1px solid rgb(211, 208, 208);
  background-color: white;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact--container label {
  margin-bottom: 10px;
  font-weight: bold;
}
.contact--container textarea {
  width: 95%;
  height: 300px;
  border: 1px solid rgb(211, 208, 208);
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact--container button {
  outline: none;
  width: 140px !important;
  padding: 14px;
  border-radius: 5px;
  background-color: #FEB500;
  color: white;
  border: none;
  margin-bottom: 20px;
  transition: 0.3s ease;
  font-weight: 500;
  font-size: 18px !important;
}
/* .contact--container button:hover {
  border: 2px solid #0B6B39;
  background-color: white;
  color: #0B6B39;
} */
.google--map {
  width: 100%;
  height: 300px;
}
.contact--icon {
  color: #0C2F70;
}
.contact--message {
  background-color: white;
  padding: 30px 20px !important;
  margin-top: 30px;
  color: white;
}
.contact--location {
  margin-top: 30px;
}
@media screen and (min-width: 1120px) {
  /* About page section */
  .about--jschool .banner-text {
    width: 80%;
  }
  .principle-text {
    display: flex;
    justify-content: space-around;
  }
  .welcome-quote {
    width: 50%;
    height: 250px;
  }
  .welcome-image {
    width: 40%;
  }
  .quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-principle-container {
    height: 450px;
  }
  .about-state-of-art {
    display: flex;
    margin-top: 20px;
    width: auto;
    align-items: center;
    gap: 180px;
  }
  .state-of-art-left{
    margin-bottom: 50px;
  }
  .state-of-art-right {
    width: 50%;
    margin-left: 100px;
  }
  .state-of-art-right h4 {
    margin-bottom: 20px;
  }
  .state-of-art-right p {
    opacity: 0.8;
    margin-bottom: 20px;
    width: 80%;
  }
  .image-left {
    height: 500px;
    width: 500px !important;
    margin-left: -20px !important;
  }
  .image-right {
    width: 300px !important;
    height: 300px !important;
    right: -100px !important;
    bottom: -90px;
  }
  .about-info-section {
    display: flex;
    gap: 50px;
    margin-top: 150px;
  }
  .about-info-left p {
    margin-bottom: 30px;
  }
  .about-info-left {
    width: 50%;
  }
  .about-info-right {
    width: 50%;
  }
  .section-2{
    display: flex;
    flex-direction: row-reverse;
  }

  /* Teachers Section */
  .teachers--page {
    margin-top: 50px;
  }
  .teachers--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Gallery Page */
  .gallery--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* News Page */
  .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .article--img {
    overflow: hidden;
    transition: 0.3s ease;
  }
  .article--img img {
    transition: 0.3s ease;
  }
  .article--img:hover img {
    transform: scale(1.08);
    overflow: hidden;
  }
  /* Single News Page */
  .single-news-image img {
    height: 100vh;
  }

  /* Admission Page */
  /* .admission--content-1 {
    margin: 70px 0;
  }
  .admission--content-1 p {
    font-size: 25px;
    width: 50%;
  } */
  .admission--content-3 .form--inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .apply-class{
    width: 95%;
  }
  .admission--container form button {
    width: 20%;
    padding: 5px;
    font-size: 23px;
  }
  /* .admission--intro p {
    font-size: 25px;
  } */
  .content--2--input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }

  /* .admission--steps {
    position: relative;
    top: 39px;
  }
  .admission--steps img {
    width: 60%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 220px;
  }
  .steps {
    width: 50%;
    position: absolute;
    right: 40px;
    padding: 60px;
    top: 340px;
  } */
  /* Contact Section */
  .contact--address {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 90px;
    align-items: start !important;
  }
  .contact--text {
    width: 50%;
  }
  .contact--text h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .map {
    width: 50%;
  }
  .contact--message {
    margin-top: 40px;
  }
  .name--email {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .name--email .input {
    width: 50%;
  }
  .google--map {
    height: 400px;
  }
}
@media screen and (min-width: 760px) {
  /* About page section */
  /* .image-left {
    height: 500px;
    width: 500px !important;
  }
  .image-right {
    width: 270px !important;
    height: 270px;
    right: 30px;
    bottom: -60px;
  } */
  /* Teachers Section */
  .teachers--page--details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* Gallery Page */
  .gallery--page--details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* Contact Section */
  .contact--address {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
    align-items: center;
  }
  .contact--text {
    width: 50%;
  }
  .contact--text h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .map {
    width: 50%;
  }
  .name--email {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .name--email .input {
    width: 50%;
  }
  .google--map {
    height: 350px;
  }
}
