.call-to-action {
  width: 90%;
  margin: auto;
}
.call-to-action h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
.apply-action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
  background: #de0179;
  padding: 20px;
  margin-bottom: 20px;
}
.two {
  background-color: #f58634;
}
.three {
  background-color: #1593d6;
}
@media screen and (min-width: 1120px) {
  .call-to-action-content{
    justify-content: center;
    display: flex;
  }
  .call-to-action-links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
  }
  .call-to-action h2{
    width: 41%;
    margin: auto;
    margin-bottom: -20px !important;
  }
}
